@import '../build/scss/_global.scss';

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $token-font-line-height-small;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: $token-spacing-base;
}

h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: $token-spacing-small;
}

h1 {
  font-size: $token-font-size-5x-large;
  font-weight: $token-font-weight-bold;
}

h2 {
  font-size: $token-font-size-4x-large;
  font-weight: $token-font-weight-bold;
}

h3 {
  font-size: $token-font-size-3x-large;
  font-weight: $token-font-weight-bold;
}

h4 {
  font-size: $token-font-size-2x-large;
  font-weight: $token-font-weight-bold;
}

h5 {
  font-size: $token-font-size-large;
  font-weight: $token-font-weight-bold;
}

h6 {
  font-size: $token-font-size-medium;
  font-weight: $token-font-weight-semibold;
  color: $token-color-font-secondary;
}

p {
  line-height: $token-font-line-height-medium;
  font-weight: $token-font-weight-regular;
}

p.Bold {
  font-size: $token-font-size-medium;
  font-weight: $token-font-weight-semibold;
}

p.Small {
  font-size: $token-font-size-small;
}

p.Xsmall {
  font-size: $token-font-size-2x-small;
}