@import '../build/scss/_global.scss';
@import './_typo.scss';
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap');

body {
  color: $token-color-font-primary;
  font-family: $token-font-family;
  padding: 0 $token-spacing-large;
  margin: 0;
  box-sizing: border-box;
}