@import '../../build/scss/_global.scss';

.Page {
  margin-top: 2rem;

  .Row-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 2rem;

    p {
      color: $token-color-font-secondary
    }
  }

  .Row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    h6 {
      padding-bottom: 0.25rem;
    }

    .Details-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      margin-bottom: 2rem;
      gap: 1rem;
    }

    .Details-grid__large {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      margin-bottom: 2rem;
      gap: 1rem;
    }
  }
}