@import '/build/scss/_global.scss';

.Color__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h5 {
    border-bottom: 2px solid $token-color-border-secondary;
  }

  .Hue__section {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
}