@import '../globalStyles/_spacing.scss';

.Side {
  @include containers;
  background-color: $token-color-background-secondary;
  grid-column: 1 / 2;
  min-height: 100%;
}

.Palette {
  display: flex;
  flex-direction: column;
}

section.Options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}